<div class="container">
<mat-card class="card">
  
  <h1>Login</h1>
  <form (submit)= "onLogin(regForm)" #regForm = "ngForm" class="content">
  <mat-form-field>
    <input matInput type="email" type="text" name="email" email ngModel required placeholder="Email" />
  </mat-form-field>
   <mat-form-field>
    <input matInput type="text" type="text" name="username" ngModel required placeholder="Username" />
  </mat-form-field> 
  <mat-form-field >
    <input matInput type="password" name="password" ngModel required placeholder="Password" #passwordInput/>
  </mat-form-field>
  <div *ngIf='!isLoading'>
    <button mat-raised-button ><div class="button-text-aling">Login</div></button>
    <a href="" class="forgot">Forgot username/password</a>
</div>
  <mat-spinner *ngIf='isLoading'></mat-spinner>
  </form>
</mat-card>
</div>