.hero {
  padding-top: 4.5rem;
}
.old {
  text-decoration: line-through;
  vertical-align: middle;
}
.carousel {
  background: black;
  color: var(--clr-text);
  width: 100%;
  overflow: hidden;
  h1 {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .banner {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20em;
    gap: 4em;
    padding: 1em 5em;
    .img-container {
      grid-column: 1;
      align-self: center;
    }

    img {
      object-fit: cover;
      max-width: 100%;
      aspect-ratio: 2/1;
    }
    .text {
      grid-column: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 1em 0;
      color: var(--clr-text);
    }
    .description {
      display: -webkit-box;
      text-align: center;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .price {
      text-align: end;
      color: var(--clr-price);
    }
    .old {
      text-align: end;
      color: white;
    }
    .title {
      display: -webkit-box;
      text-align: center;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
.prod-grid {
  padding: 5rem 5%;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.content {
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15em;
  gap: 1em;
  overflow: hidden;
  background: linear-gradient(90deg, rgb(113, 126, 134) 0%, var(--clr-primary));

  .img-action {
    grid-column: 1;
    align-self: center;
  }
  img {
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 2/1;
  }
  .text {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em 0;
    color: var(--clr-text);

    .price {
      display: flex;
      justify-content: space-between;
    }
    .new {
      color: var(--clr-price);
      font-family: "Teko", sans-serif;
      font-size: 3em;
      margin: auto 0;
    }
    .old {
      color: rgb(255, 0, 0);
      margin: auto;
    }

    .add {
      background-color: var(--clr-danger);
      margin: 0;
      padding: 1em 3em;
      color: var(--clr-text);
      text-decoration: none;
      &:hover {
        background-color: var((--clr-price));
      }
    }
    .description {
      display: -webkit-box;
      text-align: center;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 2em;
    }
    .title {
      display: -webkit-box;
      text-align: center;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .title-text {
      text-decoration: none;
      color: var(--clr-text);
      cursor: pointer;
    }
  }
}
.banner-action {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .hero {
    padding: 3rem 0;
  }

  .carousel {
    padding: 0;
    .banner {
      all: unset;
      aspect-ratio: 1/1;
      padding: 0;
      height: 10em;
      img {
        object-fit: cover;
        max-width: 100%;
      }

      .text {
        background-color: rgba(0, 0, 0, 0.63);
        align-self: flex-end;
        top: 5em;
        margin: auto;
      }
      h1 {
        font-size: x-large;
        margin: 0;
      }
      .description {
        display: none;
      }

      .old {
        text-align: center;
      }
      .price {
        text-align: center;
        font-family: "Teko", sans-serif;
        font-size: xx-large;
      }
    }
  }
  .prod-grid {
    padding: 3rem 1em;
    .content {
      all: unset;
      display: block;
      aspect-ratio: 1/1;
      padding: 0;
      height: 40em;
      background: linear-gradient(
        180deg,
        rgb(113, 126, 134) 0%,
        var(--clr-primary)
      );
      img {
        object-fit: cover;
        aspect-ratio: 2/1;
        width: 100%;
        height: 60%;
        left: 0;
        margin-bottom: 2em;
      }

      .price {
        all: unset;
        text-align: center;
        margin: 2em auto;
      }
      .text {
        all: unset;
        margin: 2em auto;
      }
      .description {
        display: -webkit-box;
        text-align: center;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: 2em auto;
      }
      .title {
        display: -webkit-box;
        text-align: center;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: 0;
      }
      .title-text {
        width: 100%;
        height: 100%;
      }

      .add {
        display: flex;
      }
      .old {
        margin-top: 1em;
      }
    }
  }
}
