/*.content {
  margin-left: 10%;
  margin-top: 5%;
  margin-right: 5%;
  width: 60%;
  transition: all 0.4s ease 0s;
}

.content:hover {
  transform: scale(1.05);
}

.post-style {
  width: 100%;
  grid-template-columns: auto auto auto auto auto;
  height: 100%;
  display: grid;
  justify-content: space-between;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

.mat-card-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}

.content mat-card {
  width: 100%;
  height: 100%;
}

.buttons {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.mat-position {
  display: flex;
  width: 100%;
}

.costumize-button {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-image: linear-gradient(
    to right top,
    #6567b3,
    #6f5fab,
    #7857a2,
    #804e98,
    #86458d
  );
  padding: 7px;
  border-radius: 10px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.costumize-button:hover {
  transform: scale(1.1);
  text-shadow: 2px 2px 5px #2c73d2;
}

@media only screen and (max-width: 800px) {
  .post-style {
    width: 100%;
    display: table-row;
    grid-template-rows: auto auto auto auto;
    margin-top: 10px;
  }
}

#slider {
  overflow: hidden;
  height: 18vh;
  width: 40%;
  margin: auto;
  background-color: blue;

  img {
    object-fit: cover;
    height: 18vh;
    aspect-ratio: 1/1;
  }
}

#slider figure {
  position: relative;
  width: 500%;
  animation: 20s slider infinite;
}

#slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
*/
.hero {
  padding-top: 4.5rem;
  overflow-x: hidden;
}
.carousel {
  display: flex;
  background-color: black;
  color: blanchedalmond;
  width: 100%;
  height: 20rem;
  h1 {
    text-align: center;
    font-size: xx-large;
  }
  .description {
    text-align: center;
  }
  .price {
    text-align: end;
    color: var(--clr-danger);
  }
  .banner {
    width: 100%;
    display: flex;
    gap: 4em;
    justify-content: space-between;
    padding: 1em 2em;
    img {
      height: auto;
      width: 40%;
      object-fit: contain;
      float: left;
    }
  }
  .text {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: space-around;
  }
}

.prod-grid {
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.content {
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 60%,
    rgba(76, 116, 113, 1) 100%
  );
  height: 45vh;
  image-rendering: crisp-edges;
  image-rendering: optimizeQuality;
  img {
    width: 60%;
    object-fit: contain;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    color: var(--clr-secondary);
    text-align: center;
    p {
      height: 5rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .price {
      color: var(--clr-danger);
      text-align: end;
    }
    .more {
      color: var(--clr-accent);
    }
    .add {
      background-color: var(--clr-danger);
      margin: 0;
      align-self: flex-end;
      padding: 1em 3em;
      color: var(--clr-secondary);
      text-decoration: none;
    }
  }
}
@media screen and (max-width: 800px) {
  .banner {
    img {
      object-fit: cover;
    }
  }
  .hero {
    padding-top: 4rem;
  }
  .prod-grid {
    padding: 1em;
  }
}
