.hero {
  padding-top: 4.5rem;
}
.old {
  text-decoration: line-through;
  vertical-align: middle;
}
.carousel {
  display: flex;
  gap: 2%;
  background-color: rgb(0, 0, 0);
  color: blanchedalmond;
  width: 100%;
  height: 20rem;
  overflow: hidden;
  h1 {
    text-align: center;
    font-size: xx-large;
  }

  .banner {
    width: 100%;
    display: flex;
    gap: 4em;
    justify-content: space-between;
    padding: 1em 2em;
    img {
      height: 100%;
      width: 40%;
      object-fit: contain;
      float: left;
    }
  }
  .text {
    margin: 1em;
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: space-around;
    max-width: 50em;
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 10%;
  }
  .description {
    display: -webkit-box;
    text-align: center;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .price {
    text-align: end;
    color: var(--clr-danger);
  }
  .old {
    text-align: end;
    color: white;
  }
}
.prod-grid {
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.content {
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 60%,
    rgba(76, 116, 113, 1) 100%
  );
  height: 40vh;
  image-rendering: crisp-edges;
  image-rendering: optimizeQuality;
  img {
    aspect-ratio: 1.15/1;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .text {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: var(--clr-secondary);
    text-align: center;

    .description {
      display: block;
      overflow: hidden;
      max-width: 45em;
      max-height: 20em;
      text-overflow: ellipsis;
    }
    .price {
      display: flex;
      justify-content: space-between;
    }
    .new {
      color: var(--clr-danger);
    }
    .old {
      color: white;
    }

    .more {
      color: var(--clr-accent);
      text-align: end;
      margin-bottom: 1em;
    }
    .add {
      background-color: var(--clr-danger);
      margin: 0;
      align-self: flex-end;
      padding: 1em 3em;
      color: var(--clr-secondary);
      text-decoration: none;
    }
  }
}
.banner-action {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 800px) {
  .hero {
    padding: 0;
  }
  .carousel {
    height: 40rem;
  }
  .banner {
    gap: 0;
    flex-direction: column;
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
      margin: 0 auto;
    }
    .text {
      left: 1em;
      top: 10em;
    }
  }
  .hero {
    padding-top: 4rem;
  }
  .prod-grid {
    padding: 1em;
  }
}
