.content {
  margin-left: 10%;
  margin-top: 5%;
  margin-right: 5%;
  width: 60%;
  transition: all 0.4s ease 0s;
}

.content:hover {
  transform: scale(1.05);
}

.post-style {
  width: 100%;
  grid-template-columns: auto auto auto auto auto;
  height: 100%;
  display: grid;
  justify-content: space-between;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

.mat-card-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}

.content mat-card {
  width: 100%;
  height: 100%;
}

.buttons {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.mat-position {
  display: flex;
  width: 100%;
}

.costumize-button {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-image: linear-gradient(
    to right top,
    #6567b3,
    #6f5fab,
    #7857a2,
    #804e98,
    #86458d
  );
  padding: 7px;
  border-radius: 10px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.costumize-button:hover {
  transform: scale(1.1);
  text-shadow: 2px 2px 5px #2c73d2;
}

@media only screen and (max-width: 800px) {
  .post-style {
    width: 100%;
    display: table-row;
    grid-template-rows: auto auto auto auto;
    margin-top: 10px;
  }
}
