<div class="hero">
 <!-- <div id="slider">
    <figure>
      <img [src]="images[0]" >
      <img [src]="images[1]" >
      <img [src]="images[2]" >
      <img [src]="images[3]" >
      <img [src]="images[0]" >
    </figure>
  </div>-->
  <div class="carousel">
    <div *ngIf="i==0" class="banner">
    <img [src]="images[0]" @image>
    <div class="text">
      <h1 class="title" @title>Lorem ipsum dolor sit amet</h1>
      <p class="description" @text>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis doloremque expedita quod quam pariatur praesentium aut cumque at quia repellendus.</p>
      <h1 class="price" @text >250lei</h1>
    </div>
    </div>
    <div *ngIf="i==1" class="banner" >
      <img [src]="images[1]" @image>
      <div class="text">
        <h1 class="title" @title>Lorem ipsum dolor sit amet</h1>
        <p class="description" @text>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis doloremque expedita quod quam pariatur praesentium aut cumque at quia repellendus.</p>
        <h1 class="price" @text >250lei</h1>
      </div>
      </div>
  </div>
 <div class="prod-grid">
  <div *ngFor="let item of posts" class="content">
    <img src={{item.photo}} />
    <div class="text">
      <h1>{{item.title}}</h1>
      <p>{{item.text}}</p>
      <a class="more">...Mai mult</a>
      <div class="price">
      <p class="old">{{item.oldprice}}</p>
      <h1 class="new">{{item.price}} Lei</h1>
      </div>
      <a class="add" (click)=addToCart(item)>Adauga in cos</a>
    </div>
  </div>
</div>

