
  <div id="slider" class="carus" >
    <figure>
      <img class="image-container" [src]="images[0]" >
      <img class="image-container"  [src]="images[1]" >
      <img  class="image-container" [src]="images[2]" >
      <img class="image-container" [src]="images[3]" >
      <img class="image-container" [src]="images[0]" >
    </figure>
  </div>

  <div class="post-style">
    <div  *ngFor="let item of posts">
      <mat-card class="content">
          <mat-card-header>
            <mat-card-title>{{item.title}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src={{item.photo}} />
           <p>{{item.price}} Lei</p>
          <mat-card-actions>
            <a class="buttons" (click)=addToCart(item)><button class="costumize-button" >BUY!</button></a>
          </mat-card-actions>
      </mat-card>
  </div>
  </div>
