.display-grid {
  display: inline-flex;
}

.icon-color {
  color: black;
  margin-top: 10px;
  transform: scale(1);
  transition: all 0.4s ease 0s;
}

.icon-color:hover {
  transform: scale(1.2);
}

.buttons {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease 0s;
}

.costumize-button {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-image: linear-gradient(to right, #0086c1, #008d9f, #008f7a);
  padding: 7px;
  border-radius: 10px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.buttons:hover {
  transform: scale(1.2);
  text-shadow: 2px 2px 5px #2c73d2;
}

.navbar-smaller {
  height: 3rem;
  background-image: linear-gradient(
    to right,
    #845ec2,
    #0078d1,
    #0086c1,
    #008d9f,
    #008f7a
  );
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.licenta {
  text-decoration: none;
  color: aliceblue;
}

.dropMenu {
  display: grid;
  position: absolute;
  top: 50px;
  left: 69%;
  z-index: 2;
  height: 12%;
}

.iconPerson {
  margin-top: 10px;
  left: 67%;
  transform: scale(1);
  color: black;
}
.iconPerson:hover {
  transform: scale(1.2);
  transition: all 0.4s ease 0s;
}

.inputStyle {
  display: flex;
  border: 0.5px solid black;
  margin: auto;
  background-color: #09b0bf50;
  transform: scale(1);
  border-radius: 25px;
  user-select: text;
  height: 30px;
}

@media only screen and (max-width: 800px) {
  .inputStyle {
    display: flex;
    border: 0.5px solid black;
    margin: auto;
    background-color: #09b0bf50;
    border-radius: 25px;
    user-select: text;
    width: 100px;
    height: 25px;
    margin-left: 20%;
  }

  .display-grid {
    display: inline-flex;
  }

  .iconPerson {
    margin-top: 10px;
    transform: scale(1.1);
    color: black;
    margin-left: 15%;
    left: 67%;
  }

  .dropMenu {
    display: grid;
    position: absolute;
    top: 50px;
    left: 46%;
    z-index: 2;
    height: 25%;
  }

  h1 {
    width: 100%;
    font-size: 80%;
  }
  a {
    width: 100%;
    font-size: 80%;
  }
}

.resize {
  width: 10.5rem;
  height: 100%;
}

.lineStyle {
  background-color: #6568b349;
}

.listStyle {
  list-style-type: none;
  padding: 0;
  transform: scale(0.85);
  margin-top: -19px;
  width: 100%;
}

.categoryStyle {
  color: black;
  text-decoration: none;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.4s ease 0s;
}

.categoryStyle:hover {
  transform: scale(1.15);
  background-color: #6567b3;
}

.hide {
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.507);
  z-index: 500;
}

.sideBar {
  display: flex;
  height: 100%;
}

.actionSize {
  width: 100%;
  height: 100%;
  position: relative;
  flex: 1;
}

.main {
  position: absolute;
  top: 3rem;
  left: 10rem;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  justify-content: space-between;
  padding: 0;
  text-align: center;
  transition: all 0.4s ease 0s;
  font-size: 150%;
}

.hide-underline {
  text-decoration: none;
  justify-content: space-between;
  font-family: "Times New Roman", Times, serif;
}

.hide-underline:hover {
  text-decoration: none;
}

h1:hover {
  transform: scale(1.08);

  background-color: #6567b3;
  border-radius: 8px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

.cartItmes {
  margin-right: 1rem;
  position: relative;
  padding: auto;
  justify-content: space-between;
  display: flex;
}
