.toolbar {
  background-color: var(--clr-primary);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 3fr 2fr;
  text-align: end;
  position: fixed;
  z-index: 5;
  top: 0;
  border-radius: 0 0 30px 30px;
  a {
    text-decoration: none;
  }
}
.Search {
  grid-column: 3;
  margin: auto;
  display: flex;
  width: 70%;
  input {
    font-family: "Times New Roman", Times, serif;
    color: var(--clr-secondary);
    height: 1.5em;
    border: none;
    width: 100%;
    user-select: none;
    caret-color: #37ff142f;
    padding: 0.2em;
    outline: none;
    border-radius: 10px 0 0 10px;
    background-color: rgba($color: #000000, $alpha: 0.1);
    color: rgba(255, 255, 255, 0.767);
  }
  input::placeholder {
    font-family: "The Nautigal", cursive;
    font-style: italic;
    opacity: 70%;
    letter-spacing: 2px;
    font-size: 1.5em;
    color: var(--clr-secondary);
  }
  a {
    vertical-align: middle;
    color: rgba($color: #000000, $alpha: 0.7);
    background-color: rgba($color: #000000, $alpha: 0.1);
    border-radius: 0 50px 50px 0;
    padding-top: 8px;
    padding-right: 5px;
    &:hover {
      background-color: var(--clr-accent);
    }
  }
}
.SearchIcon {
  color: var(--clr-secondary);
  vertical-align: middle;
}
.logo {
  grid-column: 2;
  font-family: "The Nautigal", cursive;
  font-size: 3.5em;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.6);

  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

.actions {
  grid-column: 4;
  display: grid;
  grid-template-columns: 1fr auto 1fr 0.5fr;
  text-align: center;
  a {
    padding: 0.5em;
    color: var(--clr-accent);
    &:hover {
      color: var(--clr-secondary);
    }
  }
}
.signin {
  font-size: 0.7em;
}
.cart {
  vertical-align: middle;
  text-align: end;
}
.sideBar {
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 5em;
  background-color: #00b5de;
  padding: 8em 0em 0em 1em;
  transform-origin: left;
  border-radius: 0 15px 15px 0;
  hr {
    margin: 0;
  }
  ul {
    list-style: none;
    text-align: center;
    padding: 0;
    li {
      display: flex;
      flex-direction: column;
    }

    a {
      text-decoration: none;
      font-size: 2.3em;
      color: rgba(255, 235, 205, 0.781);
      font-family: "Dongle", sans-serif;
      font-weight: 100;
      padding: 0.5em 0.8em 0.5em 0;
      &:hover {
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(0, 0, 0, 0.308) 100%
        );
      }
    }
  }
}
.burger {
  z-index: 100;
  label {
    position: absolute;
    left: 2em;
    top: 1em;
  }
  input {
    display: none;
  }
}

/*@media only screen and (max-width: 800px) {
  h1 {
    width: 100%;
    font-size: 80%;
  }
  a {
    width: 100%;
    font-size: 80%;
  }
}

.lineStyle {
  background-color: #6568b349;
}

.listStyle {
  list-style-type: none;
  padding: 0;
  transform: scale(0.85);
  margin-top: -19px;
  width: 100%;
}

.categoryStyle {
  color: black;
  text-decoration: none;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.4s ease 0s;
}

.categoryStyle:hover {
  transform: scale(1.15);
  background-color: #6567b3;
}

.hide {
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.507);
  z-index: 500;
}

.sideBar {
  top: 4.5rem;
  left: 0;
  bottom: 0;
  display: flex;
  position: fixed;
  z-index: 2;
}

.actionSize {
  width: 100%;
  height: 100%;
  position: relative;
  flex: 1;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  justify-content: space-between;
  padding: 0;
  text-align: center;
  transition: all 0.4s ease 0s;
  font-size: 150%;
}

h1:hover {
  transform: scale(1.08);

  background-color: #6567b3;
  border-radius: 8px;
}
*/
