
<div > 
  <mat-toolbar  class="toolbar">
    <div class="burger">
      <input type="checkbox" [(ngModel)]="toggle" id="toggle" class="toggle">
      <label for="toggle"><mat-icon>menu</mat-icon></label>
    </div>
    <div>
      <span><a  class="logo" routerLink="/">Licenta</a></span>
    </div>
    <div  class="Search">
      <input type="text" placeholder="Caută...">
      <div><a ><mat-icon>search</mat-icon></a></div>
    </div>
    <div class="actions">
      <div *ngIf="!this.isUserLogin"><a routerLink="/login" class="signin">Sign in</a></div>
      <div *ngIf="!this.isUserLogin"><a routerLink="/register"class="signin">Register</a></div>
      <div><a routerLink="/cart"><mat-icon class="cart" matBadge={{numItems}}>shopping_cart</mat-icon></a></div>  
<div *ngIf="(router.url!=='/register') && (router.url!=='/login') && (router.url!=='/admin-login') && (router.url!=='/admin-register') && (router.url!=='/cart') && (router.url!=='/management')" > 
  <mat-toolbar  class="navbar-smaller">
    <span><a  class="licenta">Licenta</a></span>

    <div class="display-grid">
      <input type="search" class="inputStyle" />
      <a class="icon-color"><i class="material-icons">search</i></a>
    </div>
    <div class="cartItmes">
    <a
      (mouseover)="mouseHover = true"
      (click)="mouseHover = true"
      (mouseleave)="onOut()"
      class="iconPerson"
      ><i class="material-icons">person_outline</i></a
    >
    <p *ngIf="newUsername " style="font: size 10px; margin-top: 5px; margin-right: 5px;">{{username.username}}</p>
  </div>
    <div class="cartItmes">
    <div style="font: size 10px; margin-top: 5px; margin-right: 5px;">{{numItems}}</div>
    <a class="icon-color" routerLink="/cart"><i class="material-icons">shopping_cart</i></a>
    </div>
  </mat-toolbar>
  </div>
 <!-- <mat-card
    (mouseleave)="mouseHover = false"
    (mouseover)="onIn()"
    *ngIf="mouseHover"
    class="dropMenu">
    <div *ngIf="!this.isUserLogin">
    <a routerLink="/register" class="buttons"
      ><button class="costumize-button">Register</button></a
    >
    <a routerLink="/login" class="buttons"
      ><button class="costumize-button">Login</button></a
    >
  </div>

    <a *ngIf="this.isUserLogin" class="buttons"
    ><button (click)="onLogOut()"   class="costumize-button">Logout</button></a
  >
    
  </mat-card>-->
 <div>
  <nav @sideBar class="sideBar" *ngIf="toggle">
      <ul>
        <li><a routerLink="/stuffs" >Televizoare</a></li>
        <hr/>
        <li><a routerLink="/stuffs" > Telefoane </a></li>
        <hr/>
        <li><a routerLink="/stuffs"  > Aparate Foto</a></li>
        <hr/>
        <li><a routerLink="/stuffs"> Laptopuri</a></li>
        <hr/>
        <li>
          <a routerLink="/stuffs"> Masini de Spalat</a>
        </li>
        <hr/>
        <li><a routerLink="/stuffs"> Aragaze</a></li>
        <hr/>
        <li><a routerLink="/stuffs"> Pc/Componente</a></li>
        <hr/>
      </ul>
    <a *ngIf="!hideGrey" (click)="hideMenu()" class="hide"> </a>
  </nav> 

</div>
  <div class="hero">
    <router-outlet></router-outlet>
    <router-outlet name='secondary'></router-outlet>
  </div>
