/* You can add global styles to this file, and also import other style files */
:root {
  --clr-toolbar: #232229;
  --clr-primary: #303030;
  --clr-secondary: #c1c25e;
  --clr-actions: #00c6cf;
  --clr-actions-hover: #008b69;
  --clr-price: #008b69;
  --clr-danger: #e91e63;
  --clr-text: blanchedalmond;
}
html,
body {
  height: 100%;
  background-color: #474554;
  font-size: 100%;
  font-family: "Roboto Mono", monospace;
}
body {
  margin: 0;
  padding: 0;
}
* {
  user-select: none;
  box-sizing: border-box;
  user-select: none;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}
