/* You can add global styles to this file, and also import other style files */
:root {
  --clr-primary: #6e6e6e;
  --clr-secondary: blanchedalmond;
  --clr-accent: #b6a7b6;
  --clr-warn: #f9f871;
  --clr-danger: #ff525c;
}
html,
body {
  height: 100%;
  background-color: #2a272a;
  font-size: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}
* {
  user-select: none;
  box-sizing: border-box;
  user-select: none;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}
