.container {
  padding: 5rem 0;
}
.card {
  h1 {
    color: var(--clr-actions);
  }
  margin: auto;
  max-width: 60%;
  background-color: var(--clr-toolbar);
  .content {
    display: flex;
    flex-direction: column;
    mat-form-field {
      max-width: 80%;
    }

    div {
      display: flex;
      flex-direction: column;
      a {
        font-size: small;
        font-family: "Times New Roman", Times, serif;
      }
    }
    button {
      margin-bottom: 1em;
    }
  }
}
::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: var(--clr-text) !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgb(255, 255, 255) !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: rgb(255, 255, 255) !important;
}
::ng-deep.mat-input-element {
  color: var(--clr-text) !important;
}
@media screen and (max-width: 800px) {
  .card {
    max-width: 90%;
  }
}
