/* .matPosition {
  margin-left: 240%;
  margin-top: 35%;
  margin-right: 5%;
  width: 100%;
}

.loginPosition {
  display: flex;
  justify-content: space-between;
}

.buttons-color {
  background-color: #008e9b;
  height: 30px;
  transition: all 0.4s ease 0s;
}

.buttons-color:hover {
  transform: scale(1.1);
}

.button-text-aling {
  color: white;
  margin-top: -3px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
}

@media only screen and (max-width: 1200px) {
  .matPosition {
    margin-left: 150%;
    margin-top: 35%;
    margin-right: 5%;
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .matPosition {
    margin-left: 70%;
    margin-top: 35%;
    margin-right: 5%;
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .matPosition {
    margin-left: 10%;
    margin-top: 35%;
    margin-right: 5%;
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .matPosition {
    margin-left: -30%;
    margin-top: 35%;
    margin-right: 5%;
    width: 100%;
  }
} */
.container {
  padding: 5rem 0;
}
.card {
  margin: auto;
  max-width: 60%;
  .content {
    display: flex;
    flex-direction: column;
    .buttons {
      display: flex;
      flex-direction: column;
    }
    .login {
      margin-bottom: 1em;
    }
  }
}
@media screen and (max-width: 800px) {
  .card {
    max-width: 90%;
  }
}
